.sw-centerize{
    text-align: center;
}
.sw-justified{
    text-align: justify;
}
.sw-wide-fix{
    margin-right: 0;
    width: 15.2%;
}
.sw-wide-right-fix{
    margin-right: 28.5%;
}
.sw-clear:before, .sw-clear:after {
    content: "";
    display: table;
}
.sw-grid-separator{
    padding-top: 0.75em;
}
.sw-marginize{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.sw-clear:after {
    clear: both;
}
.sw-img-centerize{
    display: block;
    margin: auto;
}
.sw-img-height-fix{
    height: 128px !important;
}
.sw-svg-github-fix{
    padding: 1.5em;
}
.sw-svg-google-dev-fix{
    padding: 2.2em;
}
.sw-right-align{
    text-align: right;
}
.sw-left-align{
    text-align: left;
}
.sw-center-align{
    text-align: center;
}
.sw-img-borderize{
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    max-height: 128px;
}
.sw-info-typograph{
    font-size: 1.35em;
    line-height: 1.4em;
    padding-top: 0;
    padding-bottom: 0;
}
.sw-info-typograph-fontsize-fix{
    font-size: 1.6em !important;
}
.sw-big-header{
    font-family: 'Armata', sans-serif;
    text-transform: uppercase;
    padding-bottom: 0.3824em
}
.sw-sub-title{
    font-family: 'Dosis', sans-serif;
    text-align: left;
    font-size: 1.75em;
    opacity: 0.75;
    text-transform: uppercase;
}
.sw-sub-content{
    font-family:  'Asap', sans-serif;
    font-size: 2.25em;
    text-align: right;
}
.sw-sub-head{
    text-align: center;
    font-size: 1.25em;
    font-family: 'Exo', sans-serif;
    font-style: italic;
}
.sw-mid-head{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Asap', sans-serif;
}
.sw-sub-bighead{
    text-align: center;
    font-size: 1.75em;
    font-family: 'Exo', sans-serif;
}
.sw-sub-head-child{
    text-align: center;
    font-size: 4em;
    font-family: 'Ubuntu Mono', sans-serif;
}
.sw-sub-head-child-small{
    text-align: center;
    font-size: 2em;
    font-family: 'Ubuntu Mono', sans-serif;
}
.sw-p-clear{
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.sw-padding-space-up{
    padding-top: 0.5em;
}
.sw-padding-space-up-medium{
    padding-top: 1em;
}
.sw-padding-space-down-medium{
    padding-bottom: 2em;
}
.sw-padding-space-down{
    padding-bottom: 1em;
}
.sw-code{
    background: rgb(229, 230, 123);
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.tab-selected-bg{
    background: url('../images/cursor_tab.png') no-repeat;
    background-position: center;
    border-style: none;
}
.sw-font-awesome{
    font-size: 1.5em;
    line-height: 1.5em;
}
.sw-drop-caps{ 
    font-size: 3.5em; 
    line-height: .9em; 
}
.sw-drop-caps-left{
    float: left;
    padding-right: .2em;
}
.sw-drop-caps-right{
    float: right;
    padding-left: .2em;
}
.sw-drop-caps-code{
    color: #bb2d2d;
}
.sw-drop-caps-git{
    color: #242323;
}
.sw-headline-bold{
    font-weight: 500;
}
.sw-flag{
    width: 128px;
    height: 128px;
    background-size: cover;
}
.sw-flag-container{
    margin: 0 auto;
    width: 128px;
}
.sw-icon:before{
    content: '\00a0';
}
.sw-icon{
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 1em;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.sw-icon-osu{
    background-image: url(../images/osu.svg);
}
.sw-icon-taiko{
    background-image: url(../images/taiko.svg);
}
.sw-icon-ctb{
    background-image: url(../images/taiko.svg);
}
.sw-icon-mania{
    background-image: url(../images/mania.svg);
}
.sw-border-left{
    border-left: 1px solid black;
}
.sw-border-right{
    border-right: 1px solid black;
}
.sw-border-top{
    border-top:  2px solid black;
}
.sw-border-bottom{
    border-bottom: 2px solid black;
}
@media (min-device-height: 720px) and (min-device-width: 1200px) {
    .sw-bginfo-tab-content {
        background: url('../images/78.png') no-repeat;
        background-position: center;
        background-position-y: 20em;
    }
    .sw-bgdownload-tab-content {
        background: url('') no-repeat;
        background-size: cover;
        background-position-y: 20em;
    }
    .sw-bgachievement-tab-content {
        background: url('../images/bg2.png') no-repeat;
        background-size: cover;
        background-position-y: 18em;
    }
    .sw-bgperformance-tab-content {
        background: url('../images/75.png') no-repeat;
        background-size: cover;
        background-position-y: 18em;
    }
    .sw-bgcomment-tab-content {
        background: url('') no-repeat;
        background-size: cover;
        background-position-y: 20em;
    }
}
@media all and (max-device-height: 1280px) and (max-device-width: 720px) {
    .sw-bg-tab-content {
        background: white;
    }
}